---
title: "Awesome Sketch Plugins"
---

{{#each plugins }}

<section class="row clearfix sketch-plugin">

{{#if image compare=""}}

<div class="column third">
<img src="{{image}}" alt="{{name}}">
</div>
<div class="column two-third">
  <h2>{{name}}<span class="meta"> by <a href="{{author.url}}">{{author.name}}</a><span class="divider">&rarr;</span><a href="{{url}}">visit website</a></span></h2>
  <p class="short-description">{{overview}}</p>
  <p class="long-description">{{description}}</p>
  </p>
</div>

{{else}}

<div class="column full">
  <h2>{{name}}<span class="meta"> by <a href="{{author.url}}">{{author.name}}</a><span class="divider">&rarr;</span><a href="{{url}}">visit website</a></span></h2>
  <p class="short-description">{{overview}}</p>
  <p class="long-description">{{description}}</p>
  </p>
</div>

{{/if}}

</section>

{{/each}}
